
.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.small_font {
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    color: #666666;
}

.big_font {
    font-family: Arial, serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    color: #666666;
}

.big_separation {
    margin-top: 50px;
}

.nicebutton {
    width: fit-content;
    height: fit-content;
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #f9f9f9 linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    padding: 6px 24px;
}

.nicebutton:hover {
    background: #e9e9e9 linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

.nicebutton:active {
    /*position:relative;*/
    /*top:1px;*/
}

.result_main {
    box-shadow: inset 0 1px 0 0 #ffffff;
    border: 1px solid #dcdcdc;
    width: 400px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.result {
    margin: 20px;
}

.div_lat_long {
    margin: 20px;
}

.angle_lbl {
    min-width: 300px;
    display: inline-block;
}

#lbl_lat {
    min-width: 150px;
    display: inline-block
}

#lbl_long {
    min-width: 150px;
    display: inline-block
}

#div_input {
    width: 500px;
    margin: 20px;
}

#div_choose_location, #div_calculate_button {
    float: left;
    margin: 20px;
}

#location_title {
    margin-top: 40px;
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 480px;
}

#canvas {
    display: inline-block;
    overflow: auto;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    margin-left: 50px;
    float: right;
}

#div_main {
    width: 1000px;
}

